Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx}": ["eslint --fix", "cspell --no-must-find-files"]
}

add advent api
  src/app/api/advent/route.ts
Due: cspell --no-must-find-files, eslint --fix

fix advent api
  src/app/api/advent/route.ts
  src/data-layer/advent/getAdventLeaderboard.ts
Due: cspell --no-must-find-files, eslint --fix

add default locale
  src/middleware.ts
Due: cspell --no-must-find-files, eslint --fix

migrate to next/third-parties
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/GoogleAnalytics.tsx
  src/app/[locale]/+components/Tracking.tsx
  src/app/[locale]/layout.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add controversial rule
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/rules/RulesContent.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

remove cronjob
  vercel.json
Due: prettier --write, cspell --no-must-find-files

fix wakatime error handling
  src/data-layer/wakatime/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix

upgrade next
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

upgrade deps
  package.json
  pnpm-lock.yaml
  src/components/Rule.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

lint code
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/AuthButtonSkeleton.tsx
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Auth/ProfileButton.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/LecturerStack.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/app/day/layout.tsx
  src/data-layer/supabase/subscribe.ts
  src/data-layer/supabase/unsubscribe.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

upgrade next-intl
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/layout.tsx
  src/i18n.ts
  src/locales.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

feat: add disturb rule
  messages/en.json
  messages/fa.json
  src/app/[locale]/rules/RulesContent.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

improve a11y
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/advent/+components/HowToJoin.tsx
  src/app/[locale]/guild/+components/NeedToLogin.tsx
  src/app/[locale]/guild/+components/Unsubscribe.tsx
  src/app/[locale]/type/+components/NeedToLogin.tsx
  src/app/[locale]/type/+components/Retry.tsx
  src/components/Rule.tsx
  src/data-layer/advent/getAdventLeaderboard.ts
Due: cspell --no-must-find-files, eslint --fix

improve navigation a11y
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/events/EventCard.tsx
Due: cspell --no-must-find-files, eslint --fix

fix feature toggle issue in navigation
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/guild/GuildContent.tsx
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

feat: upgrade supabase client
  package.json
  pnpm-lock.yaml
  src/app/[locale]/guild/page.tsx
  src/app/api/auth/callback/route.ts
  src/app/api/auth/confirm/route.ts
  src/app/api/auth/sign-out/route.ts
  src/data-layer/supabase/SupabaseProvider.tsx
  src/data-layer/supabase/SupabaseServer.tsx
  src/data-layer/supabase/getGuildMembers.ts
  src/data-layer/supabase/getRecord.ts
  src/data-layer/supabase/getSubscription.ts
  src/data-layer/supabase/getUser.ts
  src/data-layer/supabase/models/Profile.ts
  src/data-layer/supabase/submitRecord.ts
  src/data-layer/supabase/subscribe.ts
  src/data-layer/supabase/unsubscribe.ts
  src/data-layer/supabase/updateSession.ts
  src/middleware.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

migrate to next 155
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Auth/ProfileButton.tsx
  src/app/[locale]/+components/Menu.tsx
  src/data-layer/supabase/SupabaseProvider.tsx
  src/data-layer/supabase/useSignIn.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

refactor focus item
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/ask/AskContent.tsx
  src/app/[locale]/ask/asks.ts
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/rules/RulesContent.tsx
  src/app/[locale]/rules/guidlines.ts
  src/app/[locale]/rules/rules.ts
  src/components/FocusItemList.tsx
  src/components/Link.tsx
  src/components/Rule.tsx
  src/components/RuleSet.tsx
  src/components/Table.tsx
  src/hooks/useRuleTarget.ts
Due: cspell --no-must-find-files, eslint --fix

add react-compiler eslint plugin
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/data-layer/supabase/useSignIn.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

disable react-compiler
  next.config.mjs
Due: none

Enhance nav display in RTL version
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/layout.tsx
Due: cspell --no-must-find-files, eslint --fix

chore: upgrade dev dependencies
  configs/husky/commit-msg
  configs/husky/pre-commit
  configs/husky/pre-push
  package.json
  pnpm-lock.yaml
  src/app/api/auth/confirm/route.ts
  src/data-layer/supabase/useCurrentUser.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add wus links
  src/app/(links)/wus/calendar/route.ts
  src/app/(links)/wus/live/route.ts
  src/data-layer/datocms/DatoCMS.ts
  src/data-layer/datocms/EventLinks.ts
  src/data-layer/datocms/getWusLinks.ts
  src/middleware.ts
Due: cspell --no-must-find-files, eslint --fix

increase event page size
  src/data-layer/datocms/getEvents.ts
Due: cspell --no-must-find-files, eslint --fix

fix husky init
  scripts/prepare
Due: none

move day to wakatime group
  src/app/(wakatime)/day/Logo.svg
  src/app/(wakatime)/day/advent/page.tsx
  src/app/(wakatime)/day/layout.tsx
  src/app/(wakatime)/day/page.tsx
Due: cspell --no-must-find-files, eslint --fix

migrate to next-intl 3.21.1
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/[locale]/layout.tsx
  src/global.d.ts
  src/i18n.ts
  src/i18n/direction.ts
  src/i18n/locales.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/middleware.ts
  src/navigation.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

refactor i18n components
  messages/en.json
  pnpm-lock.yaml
  src/app/[locale]/advent/+components/HowToJoin.tsx
  src/app/[locale]/advent/+components/i18nMap.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/ask/AskContent.tsx
  src/app/[locale]/ask/AskHydration.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/RuleHydration.tsx
  src/app/[locale]/rules/RulesContent.tsx
  src/app/[locale]/rules/guidelines.ts
  src/app/[locale]/rules/page.tsx
  src/components/Article.tsx
  src/components/FocusItemList.tsx
  src/hooks/useRuleTarget.ts
  src/i18n/i18nComponents.tsx
  src/i18n/request.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

update slogan
  configs/words.txt
  messages/en.json
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

make about pages static
  src/app/[locale]/+components/Auth/AuthButtonSkeleton.tsx
  src/app/[locale]/ask/AskHydration.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/RuleHydration.tsx
  src/app/[locale]/rules/page.tsx
  src/components/FocusItemList.tsx
  src/components/FocusItemList/FocusItem.tsx
  src/components/FocusItemList/FocusItemList.tsx
  src/components/FocusItemList/FocusItemListSkeleton.tsx
  src/components/ListItem.tsx
  src/components/Skeleton.tsx
Due: cspell --no-must-find-files, eslint --fix

make event page static
  src/app/[locale]/events/EventContent.tsx
  src/app/[locale]/events/page.tsx
Due: cspell --no-must-find-files, eslint --fix

make advent page static
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

upgrade linter to fix tailwindcss plugin
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/advent/board/+components/Leaderboard.tsx
  src/app/[locale]/advent/board/+components/Stars.tsx
  src/app/[locale]/type/+components/Letter.tsx
  src/app/[locale]/type/+components/Retry.tsx
  src/components/CircleBadge.tsx
  src/components/FocusItemList/FocusItem.tsx
  src/components/Skeleton.tsx
  src/components/Stars.tsx
  src/components/Table.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

migrate to next-intl 3.23.2
  package.json
  pnpm-lock.yaml
  src/app/[locale]/advent/+components/HowToJoin.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/page.tsx
  src/components/Article.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add wus page
  configs/words.txt
  src/app/(links)/wus/calendar/route.ts
  src/app/(links)/wus/live/route.ts
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/wus/page.tsx
  src/components/Button.tsx
  src/data-layer/datocms/DatoCMS.ts
  src/data-layer/datocms/Fragments.ts
  src/data-layer/datocms/WhatsUp.tsx
  src/data-layer/datocms/getEvents.ts
  src/data-layer/datocms/getWusLinks.ts
Due: cspell --no-must-find-files, eslint --fix

add wus nav
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/config/features/Features.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add wus og
  public/og/wus.png
  src/app/[locale]/wus/page.tsx
Due: cspell --no-must-find-files, eslint --fix

fix lint errors
  src/components/Table.tsx
Due: cspell --no-must-find-files, eslint --fix
