Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

add page
  messages/en.json
  messages/fa.json
  public/og/advent.png
  src/app/[locale]/advent/Advent.png
  src/app/[locale]/advent/AdventContent.tsx
  src/app/[locale]/advent/AdventOfCodeClient.ts
  src/app/[locale]/advent/page.tsx
  src/app/globals.css
  src/components/Emoji.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add how to join steps
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/advent/AdventContent.tsx
  src/app/[locale]/advent/Link.tsx
  src/app/[locale]/layout.tsx
  src/app/globals.css
  src/components/Article.tsx
  src/components/Rule.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

Enhance Advent of Code announcement
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/advent/AdventContent.tsx
  src/components/Emoji.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

war table
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Navs.tsx
  src/app/[locale]/advent/AdventOfCodeClient.ts
  src/app/[locale]/wakatime/+components/UserRow.tsx
  src/app/[locale]/wakatime/+components/Winner.tsx
  src/app/[locale]/war/+components/Advent.png
  src/app/[locale]/war/+components/AdventOfCodeClient.ts
  src/app/[locale]/war/+components/AdventTable.tsx
  src/app/[locale]/war/+components/Crown.svg
  src/app/[locale]/war/+components/Star-Active.svg
  src/app/[locale]/war/+components/Star-Inactive.svg
  src/app/[locale]/war/+components/Stars.tsx
  src/app/[locale]/war/+components/UserRow.tsx
  src/app/[locale]/war/+components/UserTable.tsx
  src/app/[locale]/war/WarContent.tsx
  src/app/[locale]/war/page.tsx
  src/components/Avatar.tsx
  src/config/features/Features.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

change path to /advent/board
  src/app/[locale]/advent/+components/Advent.png
  src/app/[locale]/advent/+components/AdventOfCodeClient.ts
  src/app/[locale]/advent/+components/AdventOfCodeLoader.tsx
  src/app/[locale]/advent/+components/HowToJoin.tsx
  src/app/[locale]/advent/+components/i18nMap.tsx
  src/app/[locale]/advent/AdventContent.tsx
  src/app/[locale]/advent/board/+components/AdventTable.tsx
  src/app/[locale]/advent/board/+components/Crown.svg
  src/app/[locale]/advent/board/+components/Star.svg
  src/app/[locale]/advent/board/+components/Stars.tsx
  src/app/[locale]/advent/board/+components/UserRow.tsx
  src/app/[locale]/advent/board/+components/UserTable.tsx
  src/app/[locale]/advent/board/page.tsx
  src/app/[locale]/advent/layout.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/wakatime/+components/UserRow.tsx
  src/app/[locale]/war/+components/Advent.png
  src/app/[locale]/war/+components/Star-Active.svg
  src/app/[locale]/war/+components/Star-Inactive.svg
  src/components/Link.tsx
  src/components/Medal.tsx
Due: cspell --no-must-find-files, eslint --fix

make components server components
  messages/en.json
  messages/fa.json
  package.json
  pnpm-lock.yaml
  src/app/[locale]/advent/+components/HowToJoin.tsx
  src/app/[locale]/advent/+components/i18nMap.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/components/Emoji.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

move api concerns into the api client
  src/app/[locale]/advent/+components/AdventOfCodeClient.ts
  src/app/[locale]/advent/board/+components/AdventTable.tsx
  src/app/[locale]/advent/board/+components/Leaderboard.tsx
  src/app/[locale]/advent/board/+components/Stars.tsx
  src/app/[locale]/advent/board/+components/UserInfo.tsx
  src/app/[locale]/advent/board/+components/UserRow.tsx
  src/app/[locale]/advent/board/page.tsx
Due: cspell --no-must-find-files, eslint --fix

refactor leaderboard
  src/app/[locale]/advent/+components/AdventOfCodeClient.ts
  src/app/[locale]/advent/board/+components/Leaderboard.tsx
  src/app/[locale]/advent/board/+components/Stars.tsx
  src/app/[locale]/advent/board/+components/UserInfo.tsx
  src/app/[locale]/advent/board/+components/UserRow.tsx
  src/app/[locale]/advent/board/page.tsx
  src/app/globals.css
  src/data-layer/wakatime/getReport.tsx
  src/utils/number.ts
  tailwind.config.js
Due: cspell --no-must-find-files, eslint --fix

move data to data-layer directory
  .env.example
  src/app/[locale]/advent/+components/AdventOfCodeClient.ts
  src/app/[locale]/advent/board/+components/Leaderboard.tsx
  src/app/[locale]/advent/board/+components/Stars.tsx
  src/app/[locale]/advent/board/+components/UserRow.tsx
  src/app/[locale]/advent/board/page.tsx
  src/config/env.d.ts
  src/config/serverConfig.ts
  src/data-layer/advent/AdventOfCodeUser.ts
  src/data-layer/advent/getAdventLeaderboard.ts
  src/data-layer/advent/index.ts
Due: cspell --no-must-find-files, eslint --fix

remove log
  src/data-layer/advent/getAdventLeaderboard.ts
Due: cspell --no-must-find-files, eslint --fix

migrate db
  .cspell.json
  package.json
  scripts/supabase-codegen
  src/data-layer/supabase/models/Database.ts
  supabase/migrations/20231126222331_advent.sql
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add sync endpoint
  .env.example
  src/app/api/advent/sync/route.ts
  src/config/env.d.ts
  src/config/serverConfig.ts
  src/data-layer/advent/getAdventLeaderboard.ts
  src/data-layer/supabase/models/Database.ts
  supabase/migrations/20231126222331_advent.sql
Due: cspell --no-must-find-files, eslint --fix

add github
  src/data-layer/advent/AdventOfCodeUser.ts
  src/data-layer/advent/getAdventLeaderboard.ts
  src/data-layer/supabase/models/Database.ts
  supabase/migrations/20231126222331_advent.sql
  supabase/migrations/20231127150907_add_github.sql
Due: cspell --no-must-find-files, eslint --fix

fix build error
  src/app/[locale]/advent/board/+components/UserInfo.tsx
  src/data-layer/advent/AdventOfCodeUser.ts
  src/data-layer/advent/getAdventLeaderboard.ts
Due: cspell --no-must-find-files, eslint --fix

add github to user creation trigger
  supabase/migrations/20231127150907_add_github.sql
Due: none

add nav groups
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/ChevronDown.svg
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/DesktopNavs.tsx
  src/app/[locale]/+components/Navigation/Menu.svg
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/+components/Navs.tsx
  src/app/[locale]/rules/page.tsx
  src/components/CircleBadge.tsx
  src/components/Icons/ChevronDown.svg
  src/components/TextBadge.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add leaderboard update warning
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/advent/board/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix nested nav link
  src/app/[locale]/+components/Navigation/NavLink.tsx
Due: cspell --no-must-find-files, eslint --fix

add logs for leaderboard
  src/data-layer/advent/getAdventLeaderboard.ts
Due: cspell --no-must-find-files, eslint --fix

add cron job
  vercel.json
Due: prettier --write, cspell --no-must-find-files

add cron secret
  .env.example
  src/app/api/advent/sync/route.ts
  src/config/env.d.ts
  src/config/serverConfig.ts
Due: cspell --no-must-find-files, eslint --fix

fix cron verb
  src/app/api/advent/sync/route.ts
Due: cspell --no-must-find-files, eslint --fix

fix user order
  .eslintrc.js
  src/data-layer/advent/getAdventLeaderboard.ts
Due: cspell --no-must-find-files, eslint --fix

fix reverse board order
  scripts/sync-advent
  src/data-layer/advent/getAdventLeaderboard.ts
Due: cspell --no-must-find-files, eslint --fix

connect stars to days
  src/app/[locale]/advent/board/+components/Stars.tsx
  src/app/[locale]/advent/board/+components/UserInfo.tsx
  src/data-layer/advent/AdventOfCodeUser.ts
  src/data-layer/advent/getAdventLeaderboard.ts
Due: cspell --no-must-find-files, eslint --fix

add day/advent
  src/app/day/advent/page.tsx
  src/app/day/layout.tsx
  src/app/day/page.tsx
  src/components/Astronaut.svg
Due: cspell --no-must-find-files, eslint --fix

only show first 10 in advent
  src/app/day/advent/page.tsx
Due: cspell --no-must-find-files, eslint --fix

remove case lib
  configs/pascalCaseWithUnderscores.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
