Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx}": ["eslint --fix", "cspell --no-must-find-files"]
}

fix record saving issue
  src/app/[locale]/type/+components/Timer.tsx
Due: cspell --no-must-find-files, eslint --fix

refactor Timer
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/+components/Timer.tsx
Due: cspell --no-must-find-files, eslint --fix

fix useCurrentUser dependency issue
  src/data-layer/supabase/useCurrentUser.ts
Due: cspell --no-must-find-files, eslint --fix

add records table to database
  src/data-layer/supabase/Database.ts
  supabase/migrations/20230909093712_records.sql
Due: cspell --no-must-find-files, eslint --fix

add type page api
  src/app/[locale]/type/+components/Timer.tsx
  src/app/[locale]/type/atoms.ts
Due: cspell --no-must-find-files, eslint --fix

migrate to pnpm
  configs/husky/commit-msg
  configs/husky/pre-commit
  package.json
  pnpm-lock.yaml
  scripts/prepare
  scripts/supabase-codegen
  supabase/migrations/20230909093712_records.sql
Due: prettier --write, cspell --no-must-find-files

improve type contest
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/TypeContent.tsx
  src/app/[locale]/type/atoms.ts
  src/app/[locale]/type/page.tsx
  src/data-layer/supabase/getRecord.ts
  src/data-layer/supabase/models/Database.ts
  src/data-layer/supabase/submitRecord.ts
Due: cspell --no-must-find-files, eslint --fix

add staging action
  .github/workflows/supabase.yml
Due: cspell --no-must-find-files

add missing envs to deploy supabase workflow
  .env.example
  .github/workflows/supabase.yml
Due: cspell --no-must-find-files

add checkout
  .github/workflows/supabase.yml
Due: cspell --no-must-find-files

add login button for type challenge
  src/app/[locale]/type/+components/NeedToLogin.tsx
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/TypeContent.tsx
  src/app/[locale]/type/atoms.ts
Due: cspell --no-must-find-files, eslint --fix

add type navigation
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Nav.tsx
  src/app/[locale]/+components/Navs.tsx
  src/app/[locale]/type/+components/Game.tsx
  src/app/[locale]/type/+components/Letter.tsx
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/+components/Retry.tsx
  src/app/[locale]/type/layout.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix first record issue
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/TypeContent.tsx
  src/app/[locale]/type/page.tsx
  src/data-layer/supabase/getRecord.ts
  src/data-layer/supabase/getUser.ts
Due: cspell --no-must-find-files, eslint --fix

add type og
  public/og/type.png
  src/app/[locale]/type/layout.tsx
Due: cspell --no-must-find-files, eslint --fix

log submit record error
  src/app/[locale]/type/atoms.ts
  src/data-layer/supabase/submitRecord.ts
Due: cspell --no-must-find-files, eslint --fix

fix wrong table column name issue
  supabase/migrations/20230909093712_records.sql
Due: none

add i18n for type
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Nav.tsx
  src/app/[locale]/+components/Navs.tsx
  src/app/[locale]/type/+components/Game.tsx
  src/app/[locale]/type/+components/NeedToLogin.tsx
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/page.tsx
  src/global.d.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix i18n type safety
  .eslintrc.js
  src/app/[locale]/+components/Navs.tsx
  src/app/[locale]/ask/AskContent.tsx
  src/app/[locale]/ask/asks.ts
  src/app/[locale]/guild/+components/NeedToLogin.tsx
  src/app/[locale]/guild/+components/SubscribeButton.tsx
  src/app/[locale]/guild/+components/Unsubscribe.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/app/[locale]/rules/RulesContent.tsx
  src/components/Socials.tsx
Due: cspell --no-must-find-files, eslint --fix

update deps
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/JoinButton.tsx
  src/app/[locale]/wakatime/+components/WakatimeButton.tsx
  src/app/api/og/ask/route.tsx
  src/components/Stars.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

update supabase
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix build error
  src/app/[locale]/type/atoms.ts
Due: cspell --no-must-find-files, eslint --fix

upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

optimize fonts
  assets/Rajdhani-Bold.ttf
  assets/Rajdhani-SemiBold.ttf
Due: none

fix type index bug
  package.json
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/atoms.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add professionalism
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix persian font issue
  .eslintrc.js
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/[locale]/layout.tsx
  src/app/[locale]/type/+components/Game.tsx
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/+components/Timer.tsx
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

move ImageResponse to next/og
  src/app/api/og/ask/route.tsx
Due: cspell --no-must-find-files, eslint --fix

build advent in nav
  messages/en.json
  messages/fa.json
  package-lock.json
  src/app/[locale]/+components/Navs.tsx
  src/app/[locale]/advent/AdventContent.tsx
  src/app/[locale]/advent/page.tsx
  src/config/features/Features.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

delete package-lock.json
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

update pnpm version
  package.json
Due: prettier --write, cspell --no-must-find-files

migrate to next-intl@3
  .eslintrc.js
  .gitignore
  .vscode/extensions.json
  configs/words.txt
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/+components/Nav.tsx
  src/app/[locale]/ask/AskContent.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/guild/+components/NeedToLogin.tsx
  src/app/[locale]/guild/+components/SubscribeButton.tsx
  src/app/[locale]/guild/+components/Unsubscribe.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/app/[locale]/guild/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/rules/RulesContent.tsx
  src/app/[locale]/rules/page.tsx
  src/app/[locale]/type/+components/NeedToLogin.tsx
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/atoms.ts
  src/app/[locale]/type/layout.tsx
  src/app/[locale]/type/page.tsx
  src/app/[locale]/wakatime/page.tsx
  src/app/day/layout.tsx
  src/components/Article.tsx
  src/components/SEO.tsx
  src/i18n.ts
  src/locales.ts
  src/middleware.ts
  src/navigation.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add page
  messages/en.json
  messages/fa.json
  public/og/advent.png
  src/app/[locale]/advent/Advent.png
  src/app/[locale]/advent/AdventContent.tsx
  src/app/[locale]/advent/AdventOfCodeClient.ts
  src/app/[locale]/advent/page.tsx
  src/app/globals.css
  src/components/Emoji.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

Enhance Advent of Code announcement
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/advent/AdventContent.tsx
  src/components/Emoji.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

add how to join steps
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/advent/AdventContent.tsx
  src/app/[locale]/advent/Link.tsx
  src/app/[locale]/layout.tsx
  src/app/globals.css
  src/components/Article.tsx
  src/components/Rule.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix
