Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

migrate to fullstacksjs/config
  package.json
  pnpm-lock.yaml
  src/app/[locale]/layout.tsx
  src/app/api/advent/sync/route.ts
  src/config/clientConfig.ts
  src/config/features/FeatureProvider.tsx
  src/config/features/getServerFeatures.ts
  src/config/serverConfig.ts
  src/data-layer/advent/getAdventLeaderboard.ts
  src/data-layer/datocms/datoClient.ts
  src/data-layer/supabase/SupabaseProvider.tsx
  src/data-layer/supabase/SupabaseServer.tsx
  src/data-layer/supabase/updateSession.ts
  src/data-layer/wakatime/getReport.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add auth to revalidation api
  .env.example
  src/app/api/revalidate/route.ts
  src/config/env.d.ts
  src/config/serverConfig.ts
Due: cspell --no-must-find-files, eslint --fix

upgrade supabase
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix duplicated key error
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/wus/page.tsx
Due: cspell --no-must-find-files, eslint --fix

migrate to next-15
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/app/[locale]/+components/Banner.tsx
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/page.tsx
  src/app/api/auth/confirm/route.ts
  src/components/Loading.tsx
  src/data-layer/advent/getAdventLeaderboard.ts
  src/data-layer/supabase/SupabaseServer.tsx
  src/data-layer/supabase/getGuildMembers.ts
  src/data-layer/supabase/getRecord.ts
  src/data-layer/supabase/getSubscription.ts
  src/data-layer/supabase/getUser.ts
  src/data-layer/supabase/submitRecord.ts
  src/data-layer/supabase/subscribe.ts
  src/data-layer/supabase/unsubscribe.ts
  src/i18n/request.tsx
  src/i18n/routing.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

migrate to new dato schema
  .env.example
  src/data-layer/datocms/DatoCMS.ts
  src/data-layer/datocms/getWusLinks.ts
Due: cspell --no-must-find-files, eslint --fix

migrate to framer-motion canary
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

refactor layout props
  src/app/[locale]/layout.tsx
Due: cspell --no-must-find-files, eslint --fix

add mob review page
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/(links)/mob/calendar/route.ts
  src/app/(links)/mob/live/route.ts
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/advent/+components/HowToJoin.tsx
  src/app/[locale]/mob/page.tsx
  src/app/[locale]/wus/page.tsx
  src/config/features/Features.ts
  src/data-layer/datocms/DatoCMS.ts
  src/data-layer/datocms/MobReview.tsx
  src/data-layer/datocms/getMobEvent.ts
  src/data-layer/datocms/getWusEvent.ts
  src/hooks/useRuleTarget.ts
  src/middleware.ts
  src/navigation.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

upgrade jotai
  configs/words.txt
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

upgrade date-fns
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix focus transition
  package.json
  pnpm-lock.yaml
  src/components/FocusItemList/FocusItem.tsx
  src/components/FocusItemList/FocusItemList.tsx
  src/components/FocusItemList/FocusProvider.tsx
  src/hooks/useRuleTarget.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add stage event
  src/app/(links)/stage/calendar/route.ts
  src/app/(links)/stage/live/route.ts
  src/data-layer/datocms/DatoCMS.ts
  src/data-layer/datocms/Stage.ts
  src/data-layer/datocms/getStageEvent.ts
  src/middleware.ts
Due: cspell --no-must-find-files, eslint --fix

improve font-size
  src/app/globals.css
Due: none

create C2A button
  src/app/[locale]/+components/JoinButton.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/wakatime/+components/WakatimeButton.tsx
  src/components/Button.module.css
  src/components/Button.tsx
  src/components/C2AButton.tsx
Due: cspell --no-must-find-files, eslint --fix

migrate to tailwindcss 4
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/[locale]/+components/Auth/AuthButtonSkeleton.tsx
  src/app/[locale]/layout.tsx
  src/app/globals.css
  src/components/Button.tsx
  src/components/C2AButton.tsx
  src/components/Paragraph.tsx
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix tw-4 regressions
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/globals.css
  src/components/Button.tsx
  src/components/FocusItemList/FocusItem.tsx
  src/data-layer/datocms/DatoCMS.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

upgrade supabase and eslint
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/type/TypeContent.tsx
  src/app/[locale]/type/page.tsx
  src/app/globals.css
  src/components/Loading.tsx
  src/components/SEO.tsx
  src/components/Socials.tsx
  src/components/Stars.tsx
  src/components/Table.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

Fix diff
  src/app/[locale]/wakatime/+components/Diff.tsx
Due: cspell --no-must-find-files, eslint --fix

refactor layout props
  src/app.d.ts
  src/app/(wakatime)/day/layout.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/advent/layout.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/type/layout.tsx
  src/app/layout.tsx
Due: cspell --no-must-find-files, eslint --fix

add event detail page
  src/app/[locale]/+components/Event/EventPage.tsx
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/events/@modal/(..)events/[slug]/page.tsx
  src/app/[locale]/events/@modal/default.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventCardTitle.tsx
  src/app/[locale]/events/[slug]/page.tsx
  src/app/[locale]/events/layout.tsx
  src/app/[locale]/mob/page.tsx
  src/app/[locale]/wus/page.tsx
  src/data-layer/datocms/DatoCMS.ts
  src/data-layer/datocms/Event.ts
  src/data-layer/datocms/Fragments.ts
  src/data-layer/datocms/getEvent.ts
Due: cspell --no-must-find-files, eslint --fix

implement event modal
  package.json
  pnpm-lock.yaml
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventCardDescription.tsx
  src/app/[locale]/events/EventCardTitle.tsx
  src/app/globals.css
Due: prettier --write, cspell --no-must-find-files, eslint --fix

implement event detail page
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventCardAction.tsx
  src/app/[locale]/events/[slug]/page.tsx
  src/app/[locale]/events/layout.tsx
  src/app/[locale]/layout.tsx
Due: cspell --no-must-find-files, eslint --fix

add speed insights
  package.json
  pnpm-lock.yaml
  src/app/[locale]/layout.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

make event modal responsive
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/globals.css
Due: cspell --no-must-find-files, eslint --fix

fix warnings
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/rules/page.tsx
  src/components/Emoji.tsx
Due: cspell --no-must-find-files, eslint --fix

add data layer cache
  configs/words.txt
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/events/page.tsx
  src/app/api/revalidate/route.ts
  src/data-layer/datocms/getEvent.ts
  src/data-layer/datocms/getEvents.ts
  src/data-layer/wakatime/getReport.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

optimize event page LCP
  src/app/[locale]/+components/Event/EventPage.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventList.tsx
  src/app/[locale]/events/[slug]/page.tsx
Due: cspell --no-must-find-files, eslint --fix

optimize image format
  src/data-layer/datocms/Fragments.ts
Due: cspell --no-must-find-files, eslint --fix

fix logout a11y
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Auth/ProfileButton.tsx
  src/components/SecondaryButton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add max-warnings 0 to linter
  .lintstagedrc.json
Due: prettier --write, cspell --no-must-find-files

Add projects route to navLink in header
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/config/features/Features.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

Add the project page to the routes
  messages/en.json
  messages/fa.json
  public/projects/1.png
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/projects/+components/ForwardIcon.svg
  src/app/[locale]/projects/+components/Project.tsx
  src/app/[locale]/projects/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

Add projects information
  public/projects/1.png
  public/projects/Configs.png
  public/projects/Eslint.png
  public/projects/ToolBox.png
  src/app/[locale]/projects/+components/Project.tsx
  src/app/[locale]/projects/+components/ProjectCard.tsx
  src/app/[locale]/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix

fix formatting
  src/app/[locale]/wakatime/+components/Diff.tsx
Due: cspell --no-must-find-files, eslint --fix

Convert project/route images to svg
  messages/fa.json
  public/projects/Configs.png
  public/projects/Eslint.png
  public/projects/ToolBox.png
  src/app/[locale]/projects/+components/Config.tsx
  src/app/[locale]/projects/+components/Eslint.tsx
  src/app/[locale]/projects/+components/ProjectCard.tsx
  src/app/[locale]/projects/+components/ToolBox.tsx
  src/app/[locale]/projects/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
